* {
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
    color: black;
    font-size: 72pt;
    font-family: arial;
    width: 50%;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #191922;
    }
  }